/* navbar*/

.navbar-inverse {
 background: transparent;
 border-color: transparent;
}
.navbar-inverse .navbar-brand {
 color: rgba(52, 73, 94,1.0);
 text-shadow: none;
 text-transform: lowercase;
 font-weight: bolder;
 font-size: 25px;
 line-height: 40px;
 font-weight: bold;
 letter-spacing: -1.5px;
 -webkit-text-stroke: .4px rgba(236, 240, 241,.8);
 -webkit-text-fill-color: rgba(44, 62, 80,1.0); /* Will override color (regardless of order) */
}
a img {
    width: 8%;
    height: auto;
    padding-right: 5px;
}
.pull-left {
 position: absolute;
 left: 0px;
}
/* main page*/ 
body {	
 background-color: background: #ef32d9;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color: rgba(44, 62, 80,1.0);
 font-weight: bold;
}
h2 {
 text-transform: lowercase;
 font-weight: bold; 
}
div .movie-tile:hover {
 background-color: transparent;
}
figure img {
 opacity: 1;
 transition:opacity 0.15s linear; /*-webkit-transition for Chrome/Safari, -moz-transition for Firefox and -o-transition for Opera*/
}

figure:hover img {
 opacity:0;
 
}
figure {
    position: relative;
    display: inline-block;
}

figcaption {
	background-color: transparent;
    display: none;
    position: absolute;
    text-align: center;
    left: 0;
    top: 20px;
    right: 0;
    font-size: 140%;
    margin: 2px;
    color: rgba(44, 62, 80,1.0);
}

figure:hover figcaption {
    display: block;
}
